requests==2.32.3
ruamel.yaml==0.18.6
python-dateutil==2.9.0.post0
msal==1.20.0
openpyxl==3.0.10
suricataparser==1.0.0
addonfactory-splunk-conf-parser-lib==0.3.4
pandas==2.2.3
anyascii==0.3.1
pypdf==3.9.0
stix2==3.0.1
taxii2-client==2.3.0